<h2>Hello {{firstName}},</h2>

<p>
  Your account for
  <strong>{{agencyName}}</strong>
  has been created with the role
  <strong>{{role}}</strong>.
</p>

<p><strong>Login email:</strong> {{loginEmail}}</p>
<p><strong>Temporary password:</strong> {{temporaryPassword}}</p>
<p><strong>Credentials delivered to:</strong> {{recipientEmail}}</p>

<p>
  Please sign in using the link below and change your password immediately:
</p>
<p><a href='{{loginUrl}}'>Go to SmartProperty login</a></p>

<p>If you did not expect this account, contact your branch manager.</p>